<section class="hero is-fullheight has-background-grey-darker has-text-centered has-text-grey" id="about">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-white is-size-3 is-uppercase has-text-weight-bold">ABOUT OUR TECHNOLOGY</h1><br>
            Our cloud platforms provide enterprise-class stability and performance by implementing multiple levels of redundancy in its core infrastructure.<br><br>
            <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">100% Host Node Uptime</h3><br>
            The hardware platform hosting our pool is designed with stability as a primary goal. Our engineering team utilizes active monitoring to proactively detect problems and take preventative measures, minimizing any impact on our investment.<br><br>
            <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">100% Network Uptime</h3><br>
            Utilizing a redundant architecture and intelligent Border Gateway Protocol (BGP) routing, our core network intelligently routes around disruptive network activity in an effort to provide 100% uptime and high performance connectivity.<br><br>
            <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">We are a professional operation that will not waste your time and valuable ADA by missing blocks and rewards.​  We are committed to minting every single block our nodes are scheduled to mint.</h3>
        </div>
    </div>
</section>