<section class="hero is-fullheight has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#tech"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">About Our Technology</a>
                            </a>
                        </div>
                        <!-- <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
            <hr class="has-background-grey-darker" style="margin-top: 70px; margin-bottom: 70px;" />
            <div class="rows">
                <div class="row">
                    <div><h3 class="subtitle is-uppercase has-text-weight-medium" style="padding-bottom: 10px;">Stake with our Pool</h3></div>
                    <div><span class="is-uppercase has-text-weight-medium">Pool Name</span>: <b>{{site.pool-name}}</b></div>
                    <div><span class="is-uppercase has-text-weight-medium">Pool Ticker</span>: <b>{{site.pool-ticker}}</b></div>
                    <div id="pool-id" style="overflow-x:scroll;"><span class="is-uppercase has-text-weight-medium">Pool ID</span>: <b>{{site.pool-id}}</b></div>
                </div>                
            </div>
        </div>
    </div>
</section>