<section class="has-background-grey-darker" id="price-widget">
    <div class="hero-body">
        <div class="container">
            <div class="is-fullwidth is-centered">
                <script type="text/javascript" src="https://widget.coinlore.com/widgets/new-widget.js"></script><div class="coinlore-coin-widget" data-mcap="1" data-mcurrency="usd" data-d7="1" data-cwidth="100%" data-rank="1" data-vol="1" data-id="cardano" data-bcolor="#fff" data-tcolor="#333" data-ccolor="#333" data-pcolor="#333"></div>
            </div>
        </div>
    </div>
</section>